<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    
     {{#if user}}
      <p>Hola, {{user.first_name}} {{user.last_name}}</p>
      {{> profile}}
      {{#if (eq user.role "admin") }}
        <a href="/api/sessions/users">Manage all users</a>
      {{/if}}

      {{#if (neq user.role "user") }}
        <a href="/api/products/new">Create products</a>
      {{/if}}
      
      {{#if (eq user.role "user") }}
      {{#if user.cart }}
        <a href="/api/cart/{{user.cart}}"> 
          <span id="shopping-Bag" class="material-symbols-outlined">
            shopping_bag
          </span>
        </a>
      {{else}}
        <p>No cart found for the user</p>
      {{/if}}
      {{/if}}
      
    {{else}}
      <a href="/api/sessions/login">Log In to buy</a>
      <a href="/api/sessions/register">Register</a>
    {{/if}}


    {{> products}}
   
  </body>
</html>