<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>

    <a href="/api/products">Back to main page</a>
    <form action="/api/sessions/users" method="post">
      <button type="submit">Delete All Inactive Users</button>
    </form>

    {{#each users}}
      <ul>
        <li><h3> User name: {{this.first_name}} {{this.last_name}}</h3></li>
        <li>User email: {{this.email}}</li>
        <li>User role: <form action="/api/sessions/adminRoleUpdate/{{this._id}}" method="post">
                <select name="newRole">
                    <option value="user" {{#if (eq this.role "user")}}selected{{/if}}>User</option>
                    <option value="admin" {{#if (eq this.role "admin")}}selected{{/if}}>Admin</option>
                    <option value="premium" {{#if (eq this.role "premium")}}selected{{/if}}>Premium</option>
                </select>
                <button type="submit">Update Role</button>
            </form></li>
        <li>User last connection: {{this.last_connection}}</li>
      </ul>

      {{#if (neq this.role "admin")}}
      <form action="/api/sessions/users/{{this._id}}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="delete-user">
          <span class="material-symbols-outlined">
            delete
          </span>
        </button>
      </form>
  {{/if}}

    {{/each}}

  </body>
</html>